<div class="d-flex">
  
  <div class="sideMenu" [ngClass]="status ? 'collpased' : ''">
    <div class="brand-section">
      <img class="logo-default" src="assets/img/Logo.svg"/>
      <img class="logo-compact" src="assets/img/Logo-Compact.svg"/>
    </div>
    <div class="menu-section">
      <p-panelMenu [transitionOptions]="'10ms'" [model]="items"></p-panelMenu>
      <p-tieredMenu [model]="mobileItems"></p-tieredMenu>
    </div>
  </div>
  <div class="mainContent flex-grow-1">

    <nav class="bg-white border-bottom px-4 py-4 d-flex align-items-center justify-content-between">
      <div class="navbar-left d-flex align-items-center">
        <a class="text-decoration-none text-dark" (click)="clickEvent()">
          <i class="pi pi-bars" style="font-size:1rem; line-height:24px;"></i>
        </a>
        <p class="mb-0 ms-3">Projects</p>
      </div>
    </nav>



    <!-- <button class="d-none d-lg-block" pButton type="button" label="Click" (click)="clickEvent()"></button> -->
  </div>
</div>

